<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Relationship Mapping</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Home page</h1>
    <a class="h2" th:href="@{/users}" style="margin-top: 200px;">Manage Users</a>
    <div style="margin: 200px;"></div> <!-- Add vertical margin here -->
    <a class="h2" th:href="@{/contacts}">View Contacts</a>
</div>
</body>
</html>

